.flex.p-4.items-center.border-b.border-gray-200 id=="crawler_chapter_status#{chapter[:cid]}"
  b = chapter[:title]
  div class=="ml-auto capitalize #{chapter[:crawl_status]}" = "#{chapter[:crawl_status]}"
