= render 'editable_form', story: @story, url: writer_story_path, preview_url: url_for(@story.cover_image), preview_filename: @story.cover_image.blob.filename, preview_filesize: @story.cover_image.blob.byte_size
