@layer components {
  .profile-container {
    @apply min-h-screen;
  }

  .profile-container > .profile-heading {
    @apply w-full
    relative
    pt-14
    h-[290px]
    bg-slate-50
    border-b;
  }

  .profile-container > .profile-heading > .wallpaper-color {
    @apply absolute
    left-0
    right-0
    top-0
    bottom-0
    -z-10;
  }

  .profile-container > .profile-heading > .user-avatar {
    @apply rounded-full
    flex
    items-center
    justify-center
    bg-primary-700
    mx-auto
    w-24
    h-24
    overflow-hidden;
  }

  .profile-container > .profile-heading .avatar-text {
    @apply text-[40px]
    font-semibold
    text-white;
  }

  .profile-container > .profile-heading .profile-name {
    @apply text-2xl
    w-fit
    block
    mx-auto
    my-4
    font-bold;
  }

  .profile-container > .profile-heading .analysis {
    @apply w-fit
    flex
    gap-16
    my-8
    mx-auto;
  }

  .profile-container > .profile-heading .analysis > .analysis-item {
    @apply flex
    flex-col
    gap-1
    items-center;
  }

  .profile-container > .profile-heading .analysis > .analysis-item > span {
    @apply text-xl;
  }

  .profile-container > .profile-heading .analysis > .analysis-item > span:last-child {
    @apply font-semibold
    text-lg;
  }

  .profile-container > .profile-stories {
    @apply max-w-7xl
    mx-auto;
  }

  .profile-container > .profile-stories > .list-title {
    @apply mx-auto
    w-fit
    uppercase
    my-6
    font-semibold
    text-2xl;
  }

  .profile-stories-grid {
    @apply grid
    grid-cols-4
    mt-12
    mb-28
    gap-y-14
    place-items-center;
  }

  .profile-stories-grid > .story-book {
    @apply w-fit
    max-w-64
    rounded-lg
    shadow
    overflow-hidden
    border;
  }

  .profile-stories-grid > .story-book > .story-cover {
    @apply w-full
    h-64
    overflow-hidden;
  }

  .profile-stories-grid > .story-book > .story-cover > img {
    @apply w-full
    object-cover
    object-center;
  }

  .profile-stories-grid > .story-book > .story-name {
    @apply text-center
    text-xl
    font-semibold
    my-3
    truncate
    px-4
    whitespace-nowrap;
  }

  .profile-stories-grid > .story-book > .story-analysis {
    @apply flex
    px-6
    pb-6
    justify-between;
  }

  .profile-stories-grid > .story-book > .story-analysis > .counter {
    @apply flex
    gap-1
    items-center;
  }

  .form-profile-input {
    @apply block
    w-full
    px-3
    py-2
    border
    border-gray-300
    rounded-md
    shadow-sm
    focus:outline-none
    focus:ring-indigo-500
    focus:border-indigo-500
    sm:text-sm;
  }

  .form-profile-label {
    @apply block
    text-sm
    font-medium
    text-gray-700
    mb-1;
  }

  .form-profile-group {
    @apply mb-4
    flex
    justify-stretch
    w-full;
  }

  .profile-avatar.dropzone {
    @apply w-48
    min-w-48
    h-48
    min-h-48
    bg-gray-200/40
    border-none
    items-center
    justify-center
    relative
    rounded-full
    mb-10
    p-0;
  }

  .profile-avatar img {
    @apply w-full
    h-full
    object-cover
    object-center;
  }

  .profile-avatar > .added-info {
    @apply absolute
    left-1/2
    top-1/2
    -translate-x-1/2
    -translate-y-1/2
    text-center
    text-gray-500
    font-medium
    pointer-events-none;
  }

  .profile-avatar > .added-info > .notice {
    @apply my-1
    text-sm
    whitespace-nowrap;
  }

  .profile-avatar .dz-preview.dz-image-preview {
    @apply w-full
    flex
    flex-col
    bg-transparent
    m-0;
  }

  .profile-avatar.dropzone .dz-preview .dz-image {
    @apply w-48
    h-48
    rounded-full;
  }

  .profile-avatar.dropzone .dz-preview .dz-image img {
    @apply w-full
    h-full
    object-center
    object-cover;
  }

  .profile-avatar.dropzone .dz-remove {
    @apply py-2
    text-sm;
  }
}
