.dashboard-container {
  @apply xl:mx-auto
  xl:w-fit
  w-full
  py-10;
}

.dashboard-container .dashboard-title {
  @apply text-2xl
  font-semibold;
}

.dashboard {
  @apply flex
  flex-col-reverse
  xl:flex-row
  gap-10;
}

.dashboard .views-chart {
  @apply w-full
  xl:min-w-[72rem]
  border
  border-gray-200/60
  p-8
  rounded
  bg-white;
}

.dashboard .analytic {
  @apply w-full
  xl:min-w-[26rem]
  border
  border-gray-200/60
  p-8
  rounded
  bg-white
  flex
  xl:flex-col
  xl:justify-center;
}

.dashboard .analytic .analytic-item {
  @apply xl:border-b
  py-5
  flex
  items-center
  gap-4
  w-full;
}

.dashboard .analytic .analytic-item:last-child {
  @apply border-none;
}

.dashboard .analytic .analytic-item .analytic-icon {
  @apply p-3.5
  rounded-full;
}

.dashboard .analytic .analytic-item .analytic-icon.user-icon {
  @apply bg-teal-50
  text-teal-600;
}

.dashboard .analytic .analytic-item .analytic-icon.eye-icon {
  @apply bg-blue-50
  text-blue-600;
}

.dashboard .analytic .analytic-item .analytic-icon.story-icon {
  @apply bg-violet-50
  text-violet-600;
}

.dashboard .analytic .analytic-item .analytic-info {
  @apply flex
  flex-col;
}

.dashboard .analytic-info .info-title {
  @apply font-medium
  text-secondary-600;
}

.dashboard .analytic-info .info-number {
  @apply font-medium
  text-secondary-800
  text-2xl;
}
