.reader.story-details data-controller='request-form'
  .story-heading
    .story-cover
      = image_tag @story.cover_image
    .story-info
      .story-title = @story.name
      .story-author = t('story_details.by_author', author_name: @story.author.fullname)
      .story-tags
        - @story.tag_list.each do |tag|
          .story-tag-item = tag
      .story-analysis
        .analysis-item
          .analysis-heading
            = mi.shape(:visibility).css_class('analysis-icon outlined')
            = t('story_details.reads')
          .analysis-content
            = number_to_human(@story.views, units: { thousand: 'K', million: 'M' })

        .analysis-item
          .analysis-heading
            = mi.shape(:comment).css_class('analysis-icon outlined')
            = t('story_details.comments')
          .analysis-content
            = number_to_human(@story.comments, units: { thousand: 'K', million: 'M' })

        .analysis-item
          .analysis-heading
            = mi.shape(:format_list_bulleted).css_class('analysis-icon')
            = t('story_details.chapters')
          .analysis-content
            = @story.chapters.size
      .actions-group
        - if @report.accepted?
          .status-tag.accept-status = @report.status
        - elsif @report.closed?
          .status-tag.close-status = @report.status
        - else
            = button_to 'Mark as done', accept_admin_report_path(@report), method: :patch, data: { turbo_confirm: 'Are you sure you want to accept this report?' }, class: 'story-accept-btn'
            = button_to 'Close', close_admin_report_path(@report), method: :patch, data: { turbo_confirm: 'Are you sure you want to close this report?' }, class: 'story-delete-btn'
        = link_to story_path(@story), class: 'visit-btn', target: '_blank' do
          = mi.shape(:public).md_18
  .story-description
    .report-title = @report.title
    .report-reason = @report.reason

    i.report-reporter = "by #{@report.reporter.fullname}"

    #request-form data-request-form-target='form'

  .story-description
    .flex.items-center
      .story-title.mb-4 Banned Requests
      - if @report.open?
        .report-actions.mb-4 data-request-form-target='createBtn'
          = link_to new_admin_story_ban_request_path(story_id: @report.story.id, story_report_id: @report.id), class: 'report-action-btn create-request-btn', data: { turbo_stream: true, action: 'click->report-form-modal#close click->request-form-modal#open' } do
            | Ban Request
            = mi.shape(:edit_note).css_class('outlined action-icon')
    .table-container
      table.management-table
        thead.table-heading
          - @requests.each do |story|
            tr
              th [scope="col"]
                | ID
              th [scope="col"]
                | Title
              th [scope="col"]
                | Reason
              th [scope="col"]
                | Created At
              th [scope="col"]
                | Status
              th [scope="col"]
                | Actions
        tbody.table-body
          - @requests.each do |request|
            tr id==dom_id(request)
              td = request.id
              td = request.title
              td = request.reason
              td = request.created_at.strftime("%Y-%m-%d %H:%M:%S")
              td class=="status #{request.status}" = request.status
              td
                .action-buttons
                  = button_to accept_admin_story_ban_request_path(story_id: @story.id, id: request.id), method: :patch, class: 'check-btn', disabled: request.closed? || request.accepted? do
                    = mi.shape(:check).css_class('outlined action-icon')

                  = button_to close_admin_story_ban_request_path(story_id: @story.id, id: request.id), method: :patch, class: 'delete-btn', disabled: request.closed? || request.accepted?, data: { turbo_confirm: 'Are you sure you want to close this request?' } do
                    = mi.shape(:delete).css_class('outlined action-icon')

          - if @requests.empty?
            tr
              td.empty-state colspan='6'
                | There are no requests available
