@import 'tailwind/navbar.css';
@import 'tailwind/mobile_sidebar.css';
@import 'tailwind/toast.css';
@import 'tailwind/footer.css';

@import 'tailwind/home/carousel.css';
@import 'tailwind/home/stories.css';

@import 'tailwind/stories/story.css';
@import 'tailwind/stories/chapter.css';
@import 'tailwind/stories/comment.css';

@import 'tailwind/modals/auth_modal.css';
@import 'tailwind/modals/share_modal.css';
@import 'tailwind/modals/setting_modal.css';
@import 'tailwind/profile/profile.css';

@import 'tailwind/writer/toolbar.css';
@import 'tailwind/writer/chapter_sidebar.css';

@import 'tailwind/writer/writer.css';
@import 'tailwind/writer/story.css';
@import 'tailwind/writer/chapter.css';

@import 'tailwind/auth/base.css';
@import 'tailwind/admin/navbar.css';
@import 'tailwind/admin/sidebar.css';
@import 'tailwind/admin/base.css';

@import 'actiontext.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-modal {
    @apply fixed
    bg-white
    sm:w-[380px]
    max-w-[380px]
    w-screen
    py-10
    px-10
    sm:px-20
    border
    border-gray-400
    shadow-md
    z-max
    rounded-xl
    left-1/2
    top-1/2
    -translate-x-1/2
    -translate-y-1/2
    transition-all;
  }

  .modal-backdrop {
    @apply bg-black
    fixed
    top-0
    left-0
    right-0
    bottom-0
    z-max
    opacity-40
    transition-all;
  }

  .modal-hidden {
    @apply opacity-0
    invisible;
  }

  .main-content {
    @apply min-h-screen;
  }

  .pagy.nav {
    @apply flex
    bg-white
    w-full
    p-4
    gap-2
    justify-center
    border-t
    border-gray-100;
  }

  .pagy.nav a {
    @apply px-4
    py-3
    rounded
    text-primary-800
    border
    border-primary-600
    hover:bg-primary-600
    hover:text-white
    flex
    font-medium
    items-center
    leading-none;
  }

  .pagy.nav a[aria-disabled='true']:first-child,
  .pagy.nav a[aria-disabled='true']:last-child {
    @apply hidden;
  }

  .pagy.nav a:first-child {
    content: '12312323';
  }

  .pagy.nav a.current {
    @apply text-white
    bg-primary-600
    font-bold;
  }

  .admin-body {
    @apply bg-slate-50;
  }

  .admin-layout {
    @apply ml-20
    mr-1;
  }

  .management-table {
    @apply flex
    bg-white
    flex-row
    overflow-hidden
    text-left
    text-sm
    text-secondary-700
    sm:inline-table;
  }

  .admin-body .management-table .table-heading,
  .admin-body .management-table .table-body {
    @apply divide-y
    divide-gray-100
    border-gray-100;
  }

  .admin-body .management-table .table-heading {
    @apply bg-gray-50;
  }

  .admin-body .management-table .table-heading th {
    @apply font-medium
    text-secondary-900;
  }

  .admin-body .management-table .table-body {
    @apply border-t
    flex-1
    sm:flex-none;
  }

  .admin-body .management-table .table-body tr {
    @apply hover:bg-gray-50/80;
  }

  .admin-body .management-table .table-heading > tr > th:last-child,
  .admin-body .management-table .table-body > tr > td:last-child {
    @apply h-11
    sm:h-auto;
  }

  .admin-body .management-table .table-heading > tr > th:last-child {
    @apply flex
    items-center
    justify-start
    sm:justify-end;
  }

  .management-table tr {
    @apply flex
    flex-col
    flex-nowrap
    sm:table-row
    mb-4;
  }

  .management-table tr td,
  .management-table tr th {
    @apply px-4
    py-2
    lg:px-6
    sm:py-4;
  }

  .admin-body .search-container {
    @apply flex
    items-center
    gap-4;
  }

  .admin-body .search-input-wrapper {
    @apply w-full
    relative;
  }

  .admin-body .search-icon {
    @apply pointer-events-none
    absolute
    inset-y-0
    left-0
    flex
    items-center
    px-3
    text-secondary-600;
  }

  .admin-body .search-input {
    @apply form-input
    pl-11;
  }

  .admin-body .table-container {
    @apply overflow-hidden
    rounded-lg border
    border-gray-200
    flex
    flex-col;
  }

  .admin-body .table-container .navigation {
    @apply flex
    bg-white
    justify-end
    border-t;
  }

  .admin-body .table-container .navigation .pagy {
    @apply w-fit
    border-none;
  }

  .admin-body .create-btn {
    @apply ml-auto
    border
    bg-primary-600
    p-3
    px-4
    text-white
    rounded-lg
    text-sm
    flex
    items-center
    gap-2
    font-semibold
    transition-all
    my-4
    hover:bg-primary-700;
  }

  .management-table .action-buttons {
    @apply flex
    justify-end
    gap-4
    sm:gap-3;
  }

  .management-table .action-icon {
    @apply h-6
    w-6;
  }

  .management-table .action-buttons .edit-btn {
    @apply transition-all
    hover:text-blue-500;
  }

  .management-table .action-buttons .analysis-btn {
    @apply transition-all
    hover:text-blue-500;
  }

  .management-table .action-buttons .delete-btn {
    @apply transition-all
    hover:text-red-500;
  }

  .management-table .action-buttons .check-btn {
    @apply text-green-600
    transition-all
    hover:text-green-500;
  }

  .management-table .action-buttons .delete-btn:disabled {
    @apply text-gray-300;
  }

  .management-table .action-buttons .ban-btn {
    @apply transition-all
    hover:text-yellow-500;
  }

  .management-table .action-buttons .ban-btn:disabled {
    @apply text-gray-300;
  }

  .management-table .empty-state {
    @apply px-6
    py-4;
  }
}
