/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self

 *= require material_icons
 *= require material_icons.outlined
 *= require material_icons.sharp
 *= require material_icons.round
 *= require material_icons.twotone
 *= require material_icons.helpers

 *= require slick/slick
 *= require slick/slick-theme
 *= require dropzone/dropzone
 *= require tagify/tagify
 *= require medium_editor/editor
 *= require medium_editor/default
*/

* {
  font-size: 13px;
}

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.loader {
  width: 50px;
  margin: auto;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #af24ff 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #af24ff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-animation: l13 1s infinite linear;
  animation: l13 1s infinite linear;

  &-sm {
    width: 16px;
    height: 16px;
    margin: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #af24ff 94%, #0000) top/3px 3px no-repeat,
      conic-gradient(#0000 30%, #af24ff);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
    mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
    -webkit-animation: l13 1s infinite linear;
    animation: l13 1s infinite linear;
  }

  @-webkit-keyframes l13 {
    100% {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }

  @keyframes l13 {
    100% {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn);
    }
  }
}
