:root {
  --chapter-font-size: 13px;
  --chapter-p-height: 16px;
  --chapter-translation: block;
}

@layer components {
  .preferences-btn {
    @apply border
    py-2.5
    px-5
    bg-white
    transition-all
    hover:bg-primary-600
    hover:text-white
    rounded-full
    flex
    items-center
    gap-2
    font-semibold;
  }

  .chapter-controls {
    @apply flex
    justify-between
    border-y
    py-6
    my-8;
  }

  .chapter-controls .chapter-switch-btn {
    @apply py-2.5
    px-5
    rounded
    bg-primary-600
    text-white
    font-semibold
    border
    transition-all
    hover:bg-primary-700;
  }

  .chapter-controls .chapter-switch-btn.disable {
    @apply bg-gray-200
    pointer-events-none;
  }

  .chapter .translate-wrapper {
    @apply flex
    items-center;
  }

  .chapter .translate-text {
    @apply -mt-1
    gap-1
    flex
    flex-col
    w-full;
  }

  .chapter .translate-actions {
    @apply flex
    items-center
    gap-2
    px-4
    text-gray-600;
  }

  .chapter .translate-actions .action-btn {
    @apply rounded-full
    border
    p-1
    px-1
    flex
    items-center
    transition-all
    hover:bg-gray-200/70;
  }

  .chapter .translate-actions .action-icon {
    @apply text-[14px];
  }

  .chapter .translate-text .translate-content {
    @apply bg-primary-100/20
    py-3
    px-4
    rounded
    rounded-br-none
    text-gray-700
    border
    w-full
    border-primary-50;
  }

  .chapter .translate-info {
    @apply text-[10px]
    p-1
    px-3
    rounded-b
    whitespace-nowrap
    rounded-t-none
    text-gray-700
    bg-gray-100/40
    w-fit
    self-end
    border
    border-primary-50;
  }

  .chapter .editor {
    @apply relative;
  }

  .chapter .editor [data-p-id] {
    margin-top: var(--chapter-p-height);
    font-size: var(--chapter-font-size);
  }

  .chapter .editor .editable .translate-text * {
    @apply m-0;
  }

  .chapter .editor .chapter-options {
    @apply flex
    justify-end
    items-center
    gap-2;
  }

  .chapter .editor .chapter-options .dropdown {
    @apply relative
    flex
    items-center;
  }

  .chapter .editor .chapter-options .dropdown .dropdown-btn {
    @apply flex
    items-center
    justify-between
    min-w-16
    border
    p-2
    px-4
    pr-2
    rounded-full;
  }

  .chapter .editor .chapter-options .dropdown > .dropdown-list {
    @apply absolute
    bg-white
    top-full
    invisible
    opacity-0
    shadow;
  }

  .chapter .editor .chapter-options .dropdown > .dropdown-list.lang-list {
    @apply min-w-48
    p-2
    right-0
    overflow-y-auto
    max-h-56;
  }

  .chapter .editor .chapter-options .dropdown:hover > .dropdown-list {
    @apply opacity-100
    visible
    border
    transition-all;
  }

  .chapter .editor .chapter-options .dropdown > .dropdown-list > .dropdown-item > .lang {
    @apply flex
    text-sm
    p-3
    items-center
    whitespace-nowrap
    gap-3;
  }

  .chapter .editor .chapter-options .dropdown > .dropdown-list > .dropdown-item > .lang .locale-icon {
    @apply text-2xl;
  }

  .chapter .summary_title {
    @apply text-xl
    font-semibold
    w-full;
  }

  .chapter .divider {
    @apply my-8;
  }

  .chapter .summary-content {
    @apply w-full;
  }

  .chapter .summary-heading {
    @apply flex
    items-center
    mb-4;
  }

  .chapter #original-summary {
    @apply text-gray-700;
  }

  .chapter .translation-details,
  .chapter #translated-summary-type {
    display: var(--chapter-translation);
  }
}
