:root {
  --chapter-font-size: 13px;
  --chapter-p-height: 16px;
  --chapter-translation: block;
}

@layer components {
  .preferences-btn {
    @apply border
    py-2.5
    px-5
    bg-white
    transition-all
    hover:bg-primary-600
    hover:text-white
    rounded-full
    flex
    items-center
    gap-2
    font-semibold;
  }

  .reader.chapter {
    @apply mx-auto
    transition-all
    duration-500
    mr-0;
  }

  .reader.chapter.comment-active {
    @apply mr-0
    lg:mr-[330px];
  }

  .reader .chapter-controls {
    @apply flex
    justify-between
    border-y
    py-6
    my-8
    mx-14;
  }

  .reader .chapter-controls .chapter-switch-btn {
    @apply py-2.5
    px-5
    rounded
    bg-primary-600
    text-white
    font-semibold
    border
    transition-all
    hover:bg-primary-700;
  }

  .reader .chapter-controls .chapter-switch-btn.disable {
    @apply bg-gray-200
    pointer-events-none;
  }

  .reader.chapter .editor .chapter-title {
    @apply mx-14;
  }

  .reader.chapter .translate-wrapper {
    @apply flex
    items-center;
  }

  .reader.chapter .translate-text {
    @apply -mt-1
    gap-1
    flex
    flex-col
    w-full;
  }

  .reader.chapter .translate-actions {
    @apply flex
    items-center
    gap-2
    px-4
    text-gray-600;
  }

  .reader.chapter .translate-actions .action-btn {
    @apply rounded-full
    border
    p-1
    px-1
    flex
    items-center
    transition-all
    hover:bg-gray-200/70;
  }

  .reader.chapter .translate-actions .action-icon {
    @apply text-[14px];
  }

  .reader.chapter .translate-text .translate-content {
    @apply bg-primary-100/20
    py-3
    px-4
    rounded
    rounded-br-none
    text-gray-700
    border
    w-full
    border-primary-50;
  }

  .reader.chapter .translate-info {
    @apply text-[10px]
    p-1
    px-3
    rounded-b
    whitespace-nowrap
    rounded-t-none
    text-gray-700
    bg-gray-100/40
    w-fit
    self-end
    border
    border-primary-50;
  }

  .reader.chapter .editor {
    @apply relative
    max-w-6xl;
  }

  .reader.chapter .editor [data-p-id] {
    margin-top: var(--chapter-p-height);
    font-size: var(--chapter-font-size);
  }

  .reader.chapter .editor .editable .translate-text * {
    @apply m-0;
  }

  .reader.chapter .editor .chapter-options {
    @apply flex
    justify-end
    items-center
    gap-2
    mx-14;
  }

  .reader.chapter .editor .chapter-options .dropdown {
    @apply relative
    flex
    items-center;
  }

  .reader.chapter .editor .chapter-options .dropdown .dropdown-btn {
    @apply flex
    items-center
    justify-between
    min-w-16
    border
    p-2
    px-4
    pr-2
    rounded-full;
  }

  .reader.chapter .editor .chapter-options .dropdown > .dropdown-list {
    @apply absolute
    bg-white
    top-full
    invisible
    opacity-0
    shadow;
  }

  .reader.chapter .editor .chapter-options .dropdown > .dropdown-list.lang-list {
    @apply min-w-48
    p-2
    right-0
    overflow-y-auto
    max-h-56;
  }

  .reader.chapter .editor .chapter-options .dropdown:hover > .dropdown-list {
    @apply opacity-100
    visible
    border
    transition-all;
  }

  .reader.chapter .editor .chapter-options .dropdown > .dropdown-list > .dropdown-item > .lang {
    @apply flex
    text-sm
    p-3
    items-center
    whitespace-nowrap
    gap-3;
  }

  .reader.chapter .editor .chapter-options .dropdown > .dropdown-list > .dropdown-item > .lang .locale-icon {
    @apply text-2xl;
  }

  .reader.chapter .summary {
    @apply mr-14;
  }

  .reader.chapter .summary_title {
    @apply text-xl
    font-semibold
    w-full;
  }

  .reader.chapter .divider {
    @apply my-8
    mr-14;
  }

  .reader.chapter .summary-content {
    @apply w-full;
  }

  .reader.chapter .summary-heading {
    @apply flex
    items-center
    mb-4;
  }

  .reader.chapter #original-summary {
    @apply text-gray-700;
  }

  .reader.chapter .translation-details,
  .reader.chapter #translated-summary-type {
    display: var(--chapter-translation);
  }

  .reader.chapter .editor .editable .chapter-paragraph {
    @apply flex
    items-center
    gap-3
    text-gray-600;
  }

  .reader.chapter .editor .editable .chapter-paragraph .chapter-content {
    @apply w-full;
  }

  .reader.chapter .editor .editable .chapter-paragraph:hover > .chapter-comment {
    @apply visible opacity-100;
  }

  .reader.chapter .editor .editable .chapter-paragraph .chapter-comment.active {
    @apply visible opacity-100;
  }

  .reader.chapter .editor .editable .chapter-paragraph .chapter-comment {
    @apply invisible
    opacity-0
    ml-2
    pl-3.5
    border-l;
  }

  .reader.chapter .editor .editable .chapter-paragraph .chapter-comment .comment-icon {
    @apply text-2xl
    leading-none;
  }

  .reader.chapter .editor .editable .chapter-paragraph .chapter-comment.active {
    @apply visible
    opacity-100;
  }

  .reader.chapter .editor .editable .chapter-paragraph .chapter-comment .comment-btn {
    @apply p-2
    flex
    rounded-full
    border
    border-transparent
    transition-all
    hover:border-gray-200/40
    hover:bg-gray-100;
  }

  .reader.chapter .chapter-actions {
    @apply sticky
    top-[70px]
    flex
    flex-col
    gap-4
    items-center
    bg-white
    -ml-4
    mr-4
    p-4;
  }

  .reader.chapter .chapter-actions .action-btn {
    @apply flex
    border
    rounded-full
    transition-all
    hover:bg-primary-600
    text-gray-700
    hover:text-white
    hover:border-primary-600
    p-2;
  }

  .reader.chapter .chapter-actions .action-btn .action-icon {
    @apply text-2xl
    leading-none;
  }
}
