.admin-navbar
  = link_to root_path(locale: nil), class: 'navbar-header' do
    = image_tag 'favicon.ico', size: 28
    .header-title Bilingo
  .navbar-footer
    .actions
      = link_to root_path, class: 'action-btn' do
        = mi.shape(:home).css_class('action-icon outlined')
      .action-btn
        = mi.shape(:notifications).css_class('action-icon outlined')
      = button_to destroy_user_session_path, method: :delete, class: 'action-btn logout-btn'
        = mi.shape(:exit_to_app).css_class('action-icon outlined')
    .divider
    .profile
      span.avatar-text = current_user.last_name.first
      .info
        .username = current_user.fullname
        .role = current_user.roles.pluck(:name).map(&:capitalize).join(',')
