.admin-sidebar
  .group-actions
    .sidebar-link.active
      = mi.shape(:space_dashboard).outlined
    .sidebar-link
      = mi.shape(:people_alt).outlined
    .sidebar-link
      = mi.shape(:library_books).outlined
    .sidebar-link
      = mi.shape(:report).outlined
