.admin-sidebar
  .group-actions
    = link_to admin_root_path, class: "sidebar-link#{current_page?(admin_root_path) ? ' active' : ''}" do
      = mi.shape(:space_dashboard).outlined
    = link_to admin_users_path, class: "sidebar-link#{controller_name == 'users' ? ' active' : ''}" do
      = mi.shape(:people_alt).outlined
    = link_to admin_stories_path, class: "sidebar-link#{controller_name == 'stories' ? ' active' : ''}" do
      = mi.shape(:library_books).outlined
    = link_to admin_reports_path, class: "sidebar-link#{controller_name == 'reports' ? ' active' : ''}" do
      = mi.shape(:report).outlined
    = link_to admin_crawlers_path, class: "sidebar-link#{controller_name == 'crawlers' ? ' active' : ''}" do
      = mi.shape(:auto_mode).outlined
